/*
 * Copyright 2017-2018 NXP
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */
/*
 * OV5640 connected to csi0
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/imx8qm-clock.h>
#include <dt-bindings/pinctrl/pads-imx8qm.h>
#include <dt-bindings/gpio/gpio.h>

/ {
        compatible = "fsl,imx8qm-mek","fsl,seco-imx8qm-c26", "fsl,imx8qm";

/*  __________________________________________________________________________
 * |                                                                          |
 * |                               OV5640 OVERLAY                             |
 * |__________________________________________________________________________|
 */


	fragment@0 {
                target = <&isi_0>;
                __overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
                target = <&gpio0_mipi_csi0>;
                __overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
                target = <&i2c0_mipi_csi0>;
                __overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			ov5640_mipi: ov5640_mipi@3c {
				compatible = "ovti,ov5640_mipi_v3";
				reg = <0x3c>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_mipi_csi0_camera>;
				clocks = <&clk IMX8QM_CLK_DUMMY>;
				clock-names = "csi_mclk";
				csi_id = <0>;
				pwn-gpios = <&gpio1 28 GPIO_ACTIVE_LOW>;
				rst-gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
				mclk = <24000000>;
				mclk_source = <0>;
				mipi_csi;
				status = "okay";
				port {
					ov5640_mipi_ep: endpoint {
						remote-endpoint = <&mipi_csi0_ep>;
						data-lanes = <1 2>;
					};
				};
			};
		};	
	};

	fragment@4 {
                target = <&mipi_csi_0>;
                __overlay__ {
		        status = "okay";
			port@0 {
				mipi_csi0_ep: endpoint {
					remote-endpoint = <&ov5640_mipi_ep>;
					data-lanes = <1 2>;
				};
			};
		};
	};

        fragment@5 {
                target = <&gpio2>;
                __overlay__ {
                        status = "okay";
                    line_b@0 {
                        gpio-hog;
                        gpios = <25 0>;
                        output-high;
                        line-name = "HDMI_SEL1";
                        };

                    line_b@1 {
                        gpio-hog;
                        gpios = <26 0>;
                        output-high;
                        line-name = "HDMI_SEL2";
                        };

                    line_b@2 {
                        gpio-hog;
                        gpios = <27 0>;
                        output-high;
                        line-name = "HDMI_IN_EN";
                        };

                };
        };

};
